@media (min-width: 320px) {

body {
  font-size: 1.5em;
}

a.behance {
  color: #1769ff;
}

a.twitter {
  color: #1da1f2;
}

a.linkedin {
  color: #0077b5;
}

a.email {
  color: #34a853;
}

.navbar {
  display: inline-block;
  text-align: center;

}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: fixed;
    z-index: 99;
    background-color: white;
    border-bottom: 1px solid #eee;
    width: 100%;
    top: 0;
}

.navbar ul li {
  display: inline-block;
  margin: 0;
}

.navbar ul li a.active {
  /* border-bottom: 1px solid #A97BF5; */
  color: black;
  font-weight: bold;
}

.navbar ul li a.non-active {
  opacity: 0.5;
}

.navbar li a {
    display: inline-block;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    text-transform: uppercase;
    letter-spacing: 1pt;
    color: black;
    font-size: 1.0rem;
}


.navbar li a.non-active:hover {
  opacity: 1.0;
  color: black;
}



.purple-bar {
  height: 1px;
  background-color: black;
  margin-bottom: 1.5rem;
}

.project-title {
  margin-bottom: 0;
}

.project-image {
  margin-bottom: 1.2rem;
}

.myname {
  margin-bottom: 0;
}

p.project-button {
  width: 100px;
  border: 2px solid #A97BF5;
  color: #A97BF5;
  padding: 20px;
}



.scenarios {
  margin-bottom: 20px;
}

.purple-background {
  background-color: black;
  color: white;
}

.project-name, .project-problem, .project-role, .project-personas {
  padding: 100px 0;
}


.project-scenarios, .project-sketches, .project-prototype, .project-usability-testing {
  padding: 100px 0;
}

.project-next-project, .project-youtube {
  padding: 100px 0;
}

.project-final-design, .project-approach {
  padding: 100px 0;
}

video.prototype {
  margin: 0 auto;
  display: block;
}

.project-brainstorming, .project-comp-analysis, .project-challenges {
  padding: 100px 0;
}

.project-wireframes {
  padding: 100px 0;
}

img.scenarios, img.persona, img.f-design, img.avatar {
  display: block;
  margin: auto;
}

img.f-design {
  margin-bottom: 50px;
}

iframe.youtube {
    display: block;
    margin: auto;
    width: 250px;
    height: 150px;
}

.ghost-button-transition {
  display: inline-block;
  width: 200px;
  padding: 8px;
  color: black;
  border: 1px solid black;
  text-align: center;
  outline: none;
  text-decoration: none;
  margin-bottom: 20px;
  transition: background-color 0.2s ease-out,
              color 0.2s ease-out;
}

.ghost-button-transition:hover,
.ghost-button-transition:active {
  background-color: black;
  color: #fff;
  transition: background-color 0.3s ease-in,
              color 0.3s ease-in;
}

.ghost-button-orientation {
  display: inline-block;
  width: 250px;
  padding: 8px;
  color: black;
  border: 1px solid black;
  text-align: center;
  outline: none;
  text-decoration: none;
  margin-bottom: 20px;
  transition: background-color 0.2s ease-out,
              color 0.2s ease-out;
}

.ghost-button-orientation:hover,
.ghost-button-orientation:active {
  background-color: black;
  color: #fff;
  transition: background-color 0.3s ease-in,
              color 0.3s ease-in;
}


.title-header {
  margin-bottom: 5.0rem;
}

.section-header {
  margin-bottom: 5.0rem;
}

.resume-header {
  margin-bottom: 3.0rem;
  text-transform: uppercase;
}

.resume-first-header {
  margin-bottom: 3.0rem;
}

.resume-last-row {
  margin-bottom: 3.0rem;
}

p.resume-row {
  margin-bottom: 0;
}

}

@media (min-width: 480px) {

  .navbar li a {
    padding: 14px 30px;
    font-size: 1.5rem;
}

iframe.youtube {
    display: block;
    margin: auto;
    width: 400px;
    height: 250px;
}

  }


@media (min-width: 600px) {

  .navbar li a {
    padding: 14px 40px;
    font-size: 1.5rem;
  }

  iframe.youtube {
      display: block;
      margin: auto;
      width: 500px;
      height: 300px;
  }

}

@media (min-width: 768px) {

  body {
    font-size: 2.0em;
  }



  .navbar ul {
    float: right;

  }

  .navbar ul li {
    float: left;
  }

  .navbar ul li.first-tab-menu {
    margin-left: 30px;
  }

  .navbar li a {
    padding: 14px 20px;
  }




}

@media (min-width: 900px) {



}

@media (min-width: 1200px) {
  iframe.youtube {
      display: block;
      margin: auto;
      width: 700px;
      height: 350px;
  }
}
